@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-sm: 375px;
    --breakpoint-md: 616px;
}

:root{
    --background-color-main: hsl(30, 54%, 90%);
    --background-color-container: hsl(0, 0%, 100%);
    --backgrond-color-note: hsl(330, 100%, 98%);
    --font-color-title: hsl(24, 5%, 18%);
    --font-color-main: hsl(30, 10%, 34%);
    --font-color-note-title: hsl(332, 51%, 32%);
    --font-color-heading: hsl(14, 45%, 36%);
    --row-seperation-color: hsl(30, 18%, 87%);
    --font-young: "Young Serif", sans-serif;
}

